<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <div class="copyright">
        <ul>
          <li>Copyright &copy; 2025
            <a href="http://www.pupuk-indonesia.com">Pupuk Indonesia</a></li>
            <li>Created By 
              <a href="https://ihpazlagasukanda.vercel.app">ILS</a> & AFN
            </li>
        </ul>
        

        
      </div>
      <div>
        Located in
        <a target="_blank" href="https://maps.app.goo.gl/GGBMr2VdQ5Hj18WZ7">Yogyakarta</a>.
      </div>
    </div>
  </footer>
  </div>