<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/header'); %>

        <div class="container">
            <div class="page-inner">
                <br>
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Data Summary Petani</h3>
                    <ul class="breadcrumbs mb-3">
                      <li class="nav-home">
                        <a href="/">
                          <i class="icon-home"></i>
                        </a>
                      </li>
                      <li class="separator">
                        <i class="icon-arrow-right"></i>
                      </li>
                      <li class="nav-item">
                        <a href="/esummary">Data</a>
                      </li>
                      <li class="separator">
                        <i class="icon-arrow-right"></i>
                      </li>
                      <li class="nav-item">
                        <a href="/esummary">Data Summary Petani</a>
                      </li>
                    </ul>
                  </div>
        
                  <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                    <div>
                      <p class="op-7 mb-2">Untuk Menampilkan Data Sesuai, Harap Pilih</p>
                    </div>
                  
                    <div class="ms-md-auto py-2 py-md-0">
                      <!-- Dropdown Download -->
                      <div class="dropdown">
                        <button class="btn btn-primary btn-round dropdown-toggle d-flex align-items-center gap-2" 
                                type="button" id="downloadDropdown" 
                                data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-download"></i> Download
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="#" id="download-sum">
                              <i class="fa fa-file-alt text-primary"></i> Versi Lengkap
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item d-flex align-items-center gap-2" href="#" id="download-summary">
                              <i class="fa fa-table text-info"></i> Sesuai Template
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Spinner Loading -->
                  <div id="loading-spinner" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center">
                    <div class="bg-white p-5 rounded-lg flex items-center space-x-3 shadow-lg">
                      <div class="animate-spin h-8 w-8 border-t-4 border-blue-600 border-solid rounded-full"></div>
                      <span class="text-lg font-semibold text-gray-700">Mengunduh data, harap tunggu...</span>
                    </div>
                  </div>
                  
                  
        
                  <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-5"
                  >
                    <div class="grid grid-cols-2 items-center gap-2">
                      <label for="tahunSelect" class="text-sm font-medium text-gray-700"
                        >Tahun</label
                      >
                      <select
                        id="tahunSelect"
                        class="filter-dropdown border border-gray-300 rounded-lg shadow-sm p-2 h-[40px] w-full"
                      >
                        <option value="">Semua Tahun</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                      </select>
                    </div>
                    <!-- Kabupaten -->
                    <div class="grid grid-cols-2 items-center gap-2">
                      <label
                        for="kabupatenSelect"
                        class="text-sm font-medium text-gray-700"
                        >Kabupaten</label
                      >
                      <select
                        id="kabupatenSelect"
                        class="filter-dropdown border border-gray-300 rounded-lg shadow-sm p-2 h-[40px] w-full"
                      >
                      <option value="">Semua Kabupaten</option>
                      <option value="BOYOLALI">BOYOLALI</option>
                      <option value="SRAGEN">SRAGEN</option>
                      <option value="KOTA SURAKARTA">KOTA SURAKARTA</option>
                      <option value="KOTA MAGELANG">KOTA MAGELANG</option>
                      <option value="MAGELANG">MAGELANG</option>
                      <option value="SUKOHARJO">SUKOHARJO</option>
                      <option value="KLATEN">KLATEN</option>
                      <option value="WONOGIRI">WONOGIRI</option>
                      <option value="KARANGANYAR">KARANGANYAR</option>
                      <option value="BANTUL">BANTUL</option>
                      <option value="KOTA YOGYAKARTA">KOTA YOGYAKARTA</option>
                      <option value="SLEMAN">SLEMAN</option>
                      <option value="KULON PROGO">KULON PROGO</option>
                      <option value="GUNUNG KIDUL">GUNUNG KIDUL</option>
                      </select>
                    </div>
        
                    <!-- Kecamatan -->
                    <div class="grid grid-cols-2 items-center gap-2">
                      <label
                        for="kecamatanSelect"
                        class="text-sm font-medium text-gray-700"
                        >Kecamatan</label
                      >
                      <select
                        id="kecamatanSelect"
                        class="filter-dropdown border border-gray-300 rounded-lg shadow-sm p-2 h-[40px] w-full"
                      >
                        <option value="">Semua Kecamatan</option>
                      </select>
                    </div>
        
                    <br />
                  </div>

                <!-- Tabel Data -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-head-row">
                                    <div class="card-title">Data Summary Petani</div>
                                    <div class="card-tools">
              
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="summary-verval-table" class="table">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Kabupaten</th>
                                                <th rowspan="2">Kecamatan</th>
                                                <th rowspan="2">NIK</th>
                                                <th rowspan="2">Nama Petani</th>
                                                <th rowspan="2">Kode Kios</th>
                                                <th rowspan="2">Nama Kios</th>
                                                <th colspan="4" class="text-center bg-primary text-white">Alokasi</th>
                                                <th colspan="4" class="text-center bg-warning text-dark">Sisa Alokasi</th>
                                                <th colspan="4" class="text-center bg-secondary text-white">Penyaluran</th>
                                                <th colspan="4" class="text-center bg-success text-white">Januari</th>
                                                <th colspan="4" class="text-center bg-success text-white">Februari</th>
                                                <th colspan="4" class="text-center bg-success text-white">Maret</th>
                                                <th colspan="4" class="text-center bg-success text-white">April</th>
                                                <th colspan="4" class="text-center bg-success text-white">Mei</th>
                                                <th colspan="4" class="text-center bg-success text-white">Juni</th>
                                                <th colspan="4" class="text-center bg-success text-white">Juli</th>
                                                <th colspan="4" class="text-center bg-success text-white">Agustus</th>
                                                <th colspan="4" class="text-center bg-success text-white">September</th>
                                                <th colspan="4" class="text-center bg-success text-white">Oktober</th>
                                                <th colspan="4" class="text-center bg-success text-white">November</th>
                                                <th colspan="4" class="text-center bg-success text-white">Desember</th>
                                            </tr>
                                            <tr>
                                                <!-- Alokasi -->
                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>
                                                <!-- Sisa Alokasi -->
                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>
                                                <!-- Tebusan -->
                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>
                                                
                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>

                                                <th>Urea</th>
                                                <th>NPK</th>
                                                <th>NPK Formula</th>
                                                <th>Organik</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="6" class="text-center bg-danger text-white"> TOTAL ==></th>
                                                
                                                <!-- Sum Alokasi -->
                                                <th id="sum-urea-text">0</th>
                                                <th id="sum-npk-text">0</th>
                                                <th id="sum-npk-formula-text">0</th>
                                                <th id="sum-organik-text">0</th>
                                                <!-- Sum Sisa Alokasi -->
                                                <th id="sum-sisa-urea-text">0</th>
                                                <th id="sum-sisa-npk-text">0</th>
                                                <th id="sum-sisa-npk-formula-text">0</th>
                                                <th id="sum-sisa-organik-text">0</th>
                                                <!-- Sum Tebusan -->
                                                <th id="sum-tebus-urea-text">0</th>
                                                <th id="sum-tebus-npk-text">0</th>
                                                <th id="sum-tebus-npk-formula-text">0</th>
                                                <th id="sum-tebus-organik-text">0</th>

                                                <th id="sum-jan-urea">0</th>
                                                <th id="sum-jan-npk">0</th>
                                                <th id="sum-jan-npk-formula">0</th>
                                                <th id="sum-jan-organik">0</th>

                                                <th id="sum-feb-urea">0</th>
                                                <th id="sum-feb-npk">0</th>
                                                <th id="sum-feb-npk-formula">0</th>
                                                <th id="sum-feb-organik">0</th>

                                                <th id="sum-mar-urea">0</th>
                                                <th id="sum-mar-npk">0</th>
                                                <th id="sum-mar-npk-formula">0</th>
                                                <th id="sum-mar-organik">0</th>

                                                <th id="sum-apr-urea">0</th>
                                                <th id="sum-apr-npk">0</th>
                                                <th id="sum-apr-npk-formula">0</th>
                                                <th id="sum-apr-organik">0</th>

                                                <th id="sum-mei-urea">0</th>
                                                <th id="sum-mei-npk">0</th>
                                                <th id="sum-mei-npk-formula">0</th>
                                                <th id="sum-mei-organik">0</th>

                                                <th id="sum-jun-urea">0</th>
                                                <th id="sum-jun-npk">0</th>
                                                <th id="sum-jun-npk-formula">0</th>
                                                <th id="sum-jun-organik">0</th>

                                                <th id="sum-jul-urea">0</th>
                                                <th id="sum-jul-npk">0</th>
                                                <th id="sum-jul-npk-formula">0</th>
                                                <th id="sum-jul-organik">0</th>

                                                <th id="sum-agu-urea">0</th>
                                                <th id="sum-agu-npk">0</th>
                                                <th id="sum-agu-npk-formula">0</th>
                                                <th id="sum-agu-organik">0</th>

                                                <th id="sum-sep-urea">0</th>
                                                <th id="sum-sep-npk">0</th>
                                                <th id="sum-sep-npk-formula">0</th>
                                                <th id="sum-sep-organik">0</th>

                                                <th id="sum-okt-urea">0</th>
                                                <th id="sum-okt-npk">0</th>
                                                <th id="sum-okt-npk-formula">0</th>
                                                <th id="sum-okt-organik">0</th>

                                                <th id="sum-nov-urea">0</th>
                                                <th id="sum-nov-npk">0</th>
                                                <th id="sum-nov-npk-formula">0</th>
                                                <th id="sum-nov-organik">0</th>

                                                <th id="sum-des-urea">0</th>
                                                <th id="sum-des-npk">0</th>
                                                <th id="sum-des-npk-formula">0</th>
                                                <th id="sum-des-organik">0</th>
                                            </tr>
                                        </tfoot>
                                        <tbody id="dataTable">
                                            <!-- Data akan dimasukkan melalui JavaScript -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer'); %>
    </div>

    <script>
        $(document).ready(function () {
            let table = $('#summary-verval-table').DataTable({
                processing: true,
                serverSide: true,
                deferLoading: 0, // Jangan langsung load data
                ajax: {
                    url: "/api/alokasivstebus",
                    type: "GET",
                    data: function (d) {
                        d.kabupaten = $('#kabupatenSelect').val();
                        d.kecamatan = $('#kecamatanSelect').val();
                        d.tahun = $('#tahunSelect').val();
                    }
                },
                columns: [
                    { data: "kabupaten" },
                    { data: "kecamatan" },
                    { data: "nik" },
                    { data: "nama_petani" },
                    { data: "kode_kios" },
                    { data: "nama_kios" },
                    { data: "urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sisa_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sisa_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sisa_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sisa_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "tebus_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "tebus_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "tebus_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "tebus_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },

                    { data: "jan_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jan_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jan_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jan_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "feb_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "feb_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "feb_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "feb_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mar_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mar_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mar_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mar_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "apr_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "apr_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "apr_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "apr_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mei_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mei_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mei_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "mei_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jun_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jun_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jun_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jun_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jul_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jul_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jul_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "jul_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "agu_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "agu_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "agu_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "agu_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sep_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sep_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sep_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "sep_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "okt_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "okt_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "okt_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "okt_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "nov_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "nov_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "nov_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "nov_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "des_urea", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "des_npk", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "des_npk_formula", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                    { data: "des_organik", render: $.fn.dataTable.render.number(',', '.', 0, '') }
                ]
            });

            function fetchSummaryData() {
                let kabupaten = $('#kabupatenSelect').val();
                let kecamatan = $('#kecamatanSelect').val();
                let tahun = $('#tahunSelect').val();

                $.ajax({
                    url: "/api/petani-summary",
                    type: "GET",
                    data: { kabupaten: kabupaten, tahun: tahun, kecamatan: kecamatan },
                    success: function (response) {
                        if (response.sum) {
                            $("#sum-urea-text").text(parseFloat(response.sum.total_urea || 0).toLocaleString("id-ID"));
                            $("#sum-npk-text").text(parseFloat(response.sum.total_npk || 0).toLocaleString("id-ID"));
                            $("#sum-npk-formula-text").text(parseFloat(response.sum.total_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-organik-text").text(parseFloat(response.sum.total_organik || 0).toLocaleString("id-ID"));

                            $("#sum-tebus-urea-text").text(parseFloat(response.sum.total_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-tebus-npk-text").text(parseFloat(response.sum.total_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-tebus-npk-formula-text").text(parseFloat(response.sum.total_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-tebus-organik-text").text(parseFloat(response.sum.total_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-sisa-urea-text").text(parseFloat(response.sum.sisa_urea || 0).toLocaleString("id-ID"));
                            $("#sum-sisa-npk-text").text(parseFloat(response.sum.sisa_npk || 0).toLocaleString("id-ID"));
                            $("#sum-sisa-npk-formula-text").text(parseFloat(response.sum.sisa_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-sisa-organik-text").text(parseFloat(response.sum.sisa_organik || 0).toLocaleString("id-ID"));

                            $("#sum-jan-urea").text(parseFloat(response.sum.jan_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-jan-npk").text(parseFloat(response.sum.jan_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-jan-npk-formula").text(parseFloat(response.sum.jan_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-jan-organik").text(parseFloat(response.sum.jan_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-feb-urea").text(parseFloat(response.sum.feb_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-feb-npk").text(parseFloat(response.sum.feb_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-feb-npk-formula").text(parseFloat(response.sum.feb_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-feb-organik").text(parseFloat(response.sum.feb_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-mar-urea").text(parseFloat(response.sum.mar_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-mar-npk").text(parseFloat(response.sum.mar_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-mar-npk-formula").text(parseFloat(response.sum.mar_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-mar-organik").text(parseFloat(response.sum.mar_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-apr-urea").text(parseFloat(response.sum.apr_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-apr-npk").text(parseFloat(response.sum.apr_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-apr-npk-formula").text(parseFloat(response.sum.apr_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-apr-organik").text(parseFloat(response.sum.apr_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-mei-urea").text(parseFloat(response.sum.mei_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-mei-npk").text(parseFloat(response.sum.mei_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-mei-npk-formula").text(parseFloat(response.sum.mei_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-mei-organik").text(parseFloat(response.sum.mei_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-jun-urea").text(parseFloat(response.sum.jun_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-jun-npk").text(parseFloat(response.sum.jun_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-jun-npk-formula").text(parseFloat(response.sum.jun_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-jun-organik").text(parseFloat(response.sum.jun_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-jul-urea").text(parseFloat(response.sum.jul_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-jul-npk").text(parseFloat(response.sum.jul_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-jul-npk-formula").text(parseFloat(response.sum.jul_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-jul-organik").text(parseFloat(response.sum.jul_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-agu-urea").text(parseFloat(response.sum.agu_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-agu-npk").text(parseFloat(response.sum.agu_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-agu-npk-formula").text(parseFloat(response.sum.agu_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-agu-organik").text(parseFloat(response.sum.agu_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-sep-urea").text(parseFloat(response.sum.sep_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-sep-npk").text(parseFloat(response.sum.sep_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-sep-npk-formula").text(parseFloat(response.sum.sep_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-sep-organik").text(parseFloat(response.sum.sep_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-okt-urea").text(parseFloat(response.sum.okt_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-okt-npk").text(parseFloat(response.sum.okt_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-okt-npk-formula").text(parseFloat(response.sum.okt_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-okt-organik").text(parseFloat(response.sum.okt_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-nov-urea").text(parseFloat(response.sum.nov_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-nov-npk").text(parseFloat(response.sum.nov_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-nov-npk-formula").text(parseFloat(response.sum.nov_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-nov-organik").text(parseFloat(response.sum.nov_tebus_organik || 0).toLocaleString("id-ID"));

                            $("#sum-des-urea").text(parseFloat(response.sum.des_tebus_urea || 0).toLocaleString("id-ID"));
                            $("#sum-des-npk").text(parseFloat(response.sum.des_tebus_npk || 0).toLocaleString("id-ID"));
                            $("#sum-des-npk-formula").text(parseFloat(response.sum.des_tebus_npk_formula || 0).toLocaleString("id-ID"));
                            $("#sum-des-organik").text(parseFloat(response.sum.des_tebus_organik || 0).toLocaleString("id-ID"));
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Gagal mengambil data summary:", error);
                        $(".summary-value").text("0");
                    }
                });
            }

            $('#kabupatenSelect, #tahunSelect, #kecamatanSelect').on('change', function () {
                let kabupaten = $('#kabupatenSelect').val();
                let tahun = $('#tahunSelect').val();
                let kecamatan = $('#kecamatanSelect').val();

                if (kabupaten && tahun) {
                    table.draw(); // Load data hanya jika filter kabupaten & tahun dipilih
                }

                if (kabupaten && tahun && kecamatan) {
                    table.draw(); // Load ulang jika kecamatan juga dipilih
                }

                fetchSummaryData(); // Panggil fetchSummaryData() hanya sekali
            });

            $('#download-summary').on('click', function () {
                let kabupaten = $('#kabupatenSelect').val();
                let kecamatan = $('#kecamatanSelect').val();
                let tahun = $('#tahunSelect').val();
                let url = `/api/download-petanisummary?kabupaten=${kabupaten}&tahun=${tahun}`;
                window.location.href = url;
            });

            $('#download-sum').on('click', function () {
                let kabupaten = $('#kabupatenSelect').val();
                let kecamatan = $('#kecamatanSelect').val();
                let tahun = $('#tahunSelect').val();
                let url = `/api/download-petanisum?kabupaten=${kabupaten}&tahun=${tahun}`;
                window.location.href = url;
            });

            $.get("/api/filters", function (data) {
                data.kecamatan.forEach((item) =>
                    $("#kecamatanSelect").append(
                        `<option value="${item}">${item}</option>`
                    )
                );
            });
        });
    </script>

    <!-- Core JS Files -->
    <script src="./assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="./assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="./assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="./assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="./assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="./assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="./assets/js/kaiadmin.min.js"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="./assets/js/setting-demo.js"></script>
    <script src="./assets/js/demo.js"></script>
</body>
</html>